__X-HEC Data Science for Business MSc&T - Python for Data Science - 2022/2023__

Contacts:
- Mathurin Massias <mathurin.massias@gmail.com> (or use Slack)
- Sylvain Combettes <sylvain.combettes8@gmail.com> (or use Slack)

<font size="+3"><mark>Plotting and Programming in Python (part 1/3) - Lecture 1 (part 1/2)</mark></font>

<div class="alert alert-block alert-info">
    <b>READ ME</b>
    <ul>
        <li>This lecture is based on Software Carpentry's <a href="https://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python</a> lesson.</li>
        <ul>
            <li>This notebook covers the essentials from Software Carpentry (from <i>1. Running and Quitting</i> to <i>6. Libraries</i> (included)) as well as some important additional tips, tricks and remarks. The content that is present in this notebook but not on Software Carpentry is indicated with <mark>[NEW]</mark>.</li>
            <li>The most important content is highlighted in yellow.</li>
            <li>As this notebook only covers the essentials from Software Carpentry, a careful read of Software Carpentry is still recommended.</li>
        </ul>
        <li>An additional recommended resource is also: <a href="https://cs231n.github.io/python-numpy-tutorial/">Python Numpy Tutorial (with Jupyter and Colab)</a>.
        <li>This notebook is a refactored (cleaned and commented) version of the notebook Mathurin live-coded during the first lecture (first part) on Monday, September 26th 2022 morning.</li>
        <li>Note that all bash commands are only tested for Unix: for Mac OS and Linux, but not Windows.</li>
    </ul>
</div>

# Running and Quitting: Jupyter Notebook

- <mark>[NEW]</mark> From [Anaconda Navigator](https://docs.anaconda.com/anaconda/install/), it is recommended to use [_JupyterLab_](https://jupyterlab.readthedocs.io/en/stable/#) rather than _Jupyter Notebook_.
    - From the official [Jupyter](https://jupyter.org/) website, JupyterLab is presented as "A Next-Generation Notebook Interface" while Jupyter Notebook is presented as "The Classic Notebook Interface".
    - On the [documentation](https://jupyterlab.readthedocs.io/en/stable/getting_started/overview.html#jupyterlab-releases), it is also said:
    >JupyterLab will eventually replace the classic Jupyter Notebook. Throughout this transition, the same notebook document format will be supported by both the classic Notebook and JupyterLab.
    - <mark>Add the built-on [table of contents](https://jupyterlab.readthedocs.io/en/stable/user/toc.html) and use the side bar to navigate fast in the table of contents!</mark>
    - If you prefer the dark mode: _Settings_ -> _Theme_ -> _JupyterLab Dark_.
- A Jupyter notebook allows to write plain text (using the [Markdown](https://en.wikipedia.org/wiki/Markdown) format) and as well as code (for example Python) in the same file.
- The extension of a notebook is `.ipynb` (for _IPython Notebook_ which is now called _Jupyter Notebook_), while the extension of a Python script is `.py`.
- <mark>[NEW]</mark> Note: although it is not recommended in this lecture, instead of installing the software on your own laptop, you can run some Python code on the Cloud for free:
    - [Google Colab](https://colab.research.google.com/notebooks/welcome.ipynb)
    - [Kaggle Kernels](https://www.kaggle.com/getting-started/44939)

## Shorcuts

- If you press <kbd>Esc</kbd> and <kbd>Return</kbd> alternately, the outer border of your code cell will change from gray to blue.
- These are the __Command__ (gray) and __Edit__ (blue) modes of your notebook.
- Command mode allows you to edit notebook-level features, and Edit mode changes the content of cells.
- When in Command mode (esc/gray),
    - The <kbd>b</kbd> key will make a new cell below the currently selected cell.
    - The <kbd>a</kbd> key will make one above.
    - The <kbd>x</kbd> key will delete the current cell.
    - The <kbd>z</kbd> key will undo your last cell operation (which could be a deletion, creation, etc).
- All actions can be done using the menus, but there are lots of keyboard shortcuts to speed things up.

- Pressing the <kbd>Return</kbd> key turns the border blue and engages Edit mode, which allows you to type within the cell.
- Pressing <kbd>Shift</kbd>+<kbd>Return</kbd> together will execute the contents of the cell, and move the cursor to the following cell.
- Notice that the <kbd>Return</kbd> and <kbd>Shift</kbd> keys on the right of the keyboard are right next to each other.
- <mark>[NEW]</mark> Pressing <kbd>Control</kbd>+<kbd>Return</kbd> together will execute the contents of the cell, and the cursor will stay on the same cell. It is very useful when you want to execute several times the same cell.

- Turn the current cell into a Markdown cell by entering the Command mode (<kbd>Esc</kbd>/gray) and press the <kbd>m</kbd> key.
- Turn the current cell into a Code cell by entering the Command mode (<kbd>Esc</kbd>/gray) and press the <kbd>y</kbd> key.

- <mark>[NEW]</mark> Use <kbd>command</kbd>+<kbd>b</kbd> (for Mac, there is an equivalent shortcut for other systems) to make the side bar appear / diseappar.

## Code cells

In [8]:
1+1

2

## Markdown cells

<mark>[NEW]</mark> Markdown does most of what HTML does: you can create lists, links, $\LaTeX$ equations, display images, etc:

---
normal, *italic*, **bold**, `my_function`, <kbd>keyboard key</kbd>, <mark>mark</mark>, [link](https://swcarpentry.github.io/python-novice-gapminder/01-run-quit/index.html#markdown-does-most-of-what-html-does)

- bullet
- list

1. enumerate
1. easy
1. fast

> quote

<details><summary>Toggle me!</summary>Peek a boo!</details>

<details open>
<summary>Toogle list</summary>

* elem 
* elem
* elem

</details>

$\sum_{k=0}^n a_k = 0$

$$\int_{a}^{b} x^2 \,dx$$

---

*Note*: Double-click on this cell to see the Markdown syntax that displayed the text.

<mark>[NEW]</mark> You can write HTML code into Markdown cells:

<i>italic</i>, <b>bold</b>

<mark>[NEW]</mark> You can also write Python code as Markdown (so it will not be executed):

```python
def my_func(x):
    return x**2

```

<mark>[NEW]</mark> *Recommended further reading*:
- Markdown Guide's [Basic Syntax](https://www.markdownguide.org/basic-syntax/) and [Extended Syntax
](https://www.markdownguide.org/extended-syntax/)
- GitLab's [Handbook Markdown Guide](https://about.gitlab.com/handbook/markdown-guide/)

## <mark>[NEW]</mark> Bash commands in Jupyter Notebook

_We will address bash commands specifically in another lecture. Here, we are just showing the syntax._

In IPython (such as Jupyter Notebooks), any command that works at the command-line can be used in IPython by prefixing it with the `!` character:

In [9]:
!python --version  # display your Python version

Python 3.7.4

<mark>Make sure to use Python 3, and not Python 2 for example.</mark>

Alternative:

In [10]:
!python -V

Python 3.7.4

An alternative way to get your Python version (without using bash commands):

In [11]:
import sys
print(sys.version)

3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]

You can warn the user:

In [12]:
if sys.version_info<(3,0,0):
    sys.stderr.write("You are recommended to use Python 3 or later.")
    exit(1)

## <mark>[NEW]</mark> Some important tips for Jupyter Notebooks

- You have <mark>auto-complete</mark> in Jupyter notebooks like you have in any other Jupyter environment. Simply hit the <kbd>Tab</kbd> key while writing code. This will open a menu with suggestions. Hit <kbd>Enter</kbd> to choose the suggestion. Further reading: [How to enable auto-completion in Jupyter Notebook](https://knowledge.dataiku.com/latest/kb/code/python/How-to-enable-auto-completion-in-Jupyter-Notebook.html).
- You can use `tqdm` to see a progress bar in your loops. See [documentation](https://tqdm.github.io/).
- Take full advantage of your <mark>keyboard shortcuts for document editing</mark> to save time. Some key examples using macOS:
    - <kbd>option</kbd>+<kbd>&#8592</kbd>: move the insertion point to the beginning of the previous word
    - <kbd>command</kbd>+<kbd>&#8592</kbd>: move the insertion point to the beginning of the current line
    - <kbd>shift</kbd>+<kbd>command</kbd>+<kbd>&#8592</kbd>: select the text between the insertion point and the beginning of the current line
    - <kbd>option</kbd>+<kbd>shift</kbd>+<kbd>&#8592</kbd>: extend text selection to the beginning of the current word, then to the beginning of the following word if pressed again
    - <kbd>command</kbd>+<kbd>a</kbd>: select all items (of the selected cell)
    - <kbd>tab</kbd> to tab (indent)
    - <kbd>shift</kbd>+<kbd>tab</kbd> to remove tab (remove indent)
    - <kbd>shift</kbd>+<kbd>option</kbd>+move cursor then <kbd>#</kbd> to comment several lines
    - *Further reading*: [Mac keyboard shortcuts](https://support.apple.com/en-us/HT201236)

## <mark>[NEW] Some best practises</mark>

- Put at the top of your notebook:
    - all your imports, even if the imported function is only used once (_we will see in this notebook what imports are_)
    - global variables that are used as configuration parameters (_we will see in this notebook what variables are_)
    - configuration parameters (such as `np.set_printoptions(precision=3)`)
- Regurlarly do *Kernel -> Restart Kernel and Clear All Outputs...* to make sure that your code is working well.
    - Especially, before sharing your notebook to someone else (e.g. submitting your notebook for grading), do *Kernel -> Restart Kernel and Clear All Outputs...* then *Run -> Run All Cells*

In a professional setting:
- Notebooks can be exported into HTML files (*File -> Save and Export Notebook As... --> HTML*), so you can send it to someone that does not have installed Anaconda Navigator. The code will not be editable, but readable, especially for the graphs. It can be used for reporting to business units.
- Once you have finished iterating over your notebook (i.e. when it is no longer a draft), try to wrap as much code lines as you can into functions that are named as a meaningful short sentences with a verb (e.g. `compute_distance`, `convert_values`). (_We will see in this notebook what functions are._)
- If needed, you can export your notebook as a Python script (`.py`), do not copy-paste code cells one by one from your notebook to a Python script.

# Variables and Assignment

Variables must be created before they are used:

In [6]:
print(z)
z = 12

NameError: name 'z' is not defined

## Use variables to store values

Declare a variable:

In [7]:
a = 12
a

12

Variables persist between cells:

In [8]:
a

12

Variable names can **only** contain letters, digits, and underscore _ (typically used to separate words in long variable names):

In [9]:
a!_1 = 34

SyntaxError: invalid syntax (4048436767.py, line 1)

Variable names cannot start with a digit:

In [10]:
1age = 34

SyntaxError: invalid decimal literal (3702682877.py, line 1)

In [11]:
age_1 = 34
age_1

34

Variable names are case sensitive (`age`, `Age` and `AGE` are three different variables):

In [12]:
age

NameError: name 'age' is not defined

In [13]:
Age = 43
Age

43

In [14]:
AGE = 52
AGE

52

<mark>[NEW]</mark> Declaring multiple variables:

In [15]:
firstname, lastname, age = "John", "Doe", 42

<mark>[NEW]</mark> Jupyter notebook cells will only output the last variable:

In [16]:
firstname
lastname
age

42

See the next subsection:

## Use `print` to display values

In [17]:
print(firstname)
print(lastname)
print(age)

John
Doe
42

In [18]:
print(firstname, 'is', age)

John is 42

### <mark>[NEW]</mark> Using f-strings

f-strings are more elegant to print variables:

In [19]:
print(f"{firstname} is {age}")

John is 42

When using f-strings, do not forget to put the `f`:

In [20]:
print("{firstname} is {age}")

{firstname} is {age}

Quickly display the value of a variable with its variable name:

In [21]:
result_addition = 2+3
print(f"{result_addition = }")

result_addition = 5

In [22]:
result_addition = 2+3
result_multplication = 2*3
print(f"{result_addition = }\n{result_multplication = }")

result_addition = 5
result_multplication = 6

### <mark>[NEW]</mark> Using Pretty Print

In [23]:
example = [
    {'Name': 'John', 'Age': '23', 'Country': 'USA'},
    {'Name': 'Jose', 'Age': '44', 'Country': 'Spain'},
    {'Name': 'Anne', 'Age': '29', 'Country': 'UK'},
    {'Name': 'Lee', 'Age': '35', 'Country': 'Japan'}
]

Using the standard `print`:

In [24]:
print(example)

[{'Name': 'John', 'Age': '23', 'Country': 'USA'}, {'Name': 'Jose', 'Age': '44', 'Country': 'Spain'}, {'Name': 'Anne', 'Age': '29', 'Country': 'UK'}, {'Name': 'Lee', 'Age': '35', 'Country': 'Japan'}]

Using the `pprint` function from the `pprint` library:

In [25]:
import pprint as pp
pp.pprint(example)

[{'Age': '23', 'Country': 'USA', 'Name': 'John'},
 {'Age': '44', 'Country': 'Spain', 'Name': 'Jose'},
 {'Age': '29', 'Country': 'UK', 'Name': 'Anne'},
 {'Age': '35', 'Country': 'Japan', 'Name': 'Lee'}]

*Further reading*: [Prettify Your Data Structures With Pretty Print in Python](https://realpython.com/python-pretty-print/).

*More information on importing a library and on Python packages is given further in this notebook and in Lab 1.*

## <mark>[NEW]</mark> See current user-defined variables, delete variables

You can use the `%who` magic line to display the current user-defined variables:

In [26]:
%who

AGE	 Age	 a	 age	 age_1	 example	 firstname	 lastname	 pp
result_addition	 result_multplication	 sys

You can use the `%whos` magic line to display the current user-defined variables with more info:

In [27]:
%whos

Variable               Type      Data/Info
------------------------------------------
AGE                    int       52
Age                    int       43
a                      int       12
age                    int       42
age_1                  int       34
example                list      n=4
firstname              str       John
lastname               str       Doe
pp                     module    <module 'pprint' from '/U<...>ib/python3.10/pprint.py'>
result_addition        int       5
result_multplication   int       6
sys                    module    <module 'sys' (built-in)>

You can delete some variables:

In [28]:
del a
%whos

Variable               Type      Data/Info
------------------------------------------
AGE                    int       52
Age                    int       43
age                    int       42
age_1                  int       34
example                list      n=4
firstname              str       John
lastname               str       Doe
pp                     module    <module 'pprint' from '/U<...>ib/python3.10/pprint.py'>
result_addition        int       5
result_multplication   int       6
sys                    module    <module 'sys' (built-in)>

You can delete several variables at once:

In [29]:
del firstname, lastname
%whos

Variable               Type      Data/Info
------------------------------------------
AGE                    int       52
Age                    int       43
age                    int       42
age_1                  int       34
example                list      n=4
pp                     module    <module 'pprint' from '/U<...>ib/python3.10/pprint.py'>
result_addition        int       5
result_multplication   int       6
sys                    module    <module 'sys' (built-in)>

Why delete a variable?
- to free some memory space
- to make sure to not use this variable name by mistake: from time to time restart your kernel and clear all outputs to make sure that your code is running smoothly

## Variables can be used in calculations

In [30]:
new_age = age + 3
print(f"In three years, he will be {new_age}.")

In three years, he will be 45.

## Use an index to get a single character from a string

In [31]:
atom_name = "helium"

*Important*: <mark>Python indices are numbered from 0 (and not 1)</mark>:

In [32]:
print(atom_name[0])
print(atom_name[1])

h
e

Access the last character:

In [33]:
print(atom_name[5])
print(atom_name[-1])

m
m

In [34]:
atom_name[6]

IndexError: string index out of range

In [35]:
atom_name[len(atom_name)]

IndexError: string index out of range

## Use a slice to get a substring

In [36]:
atom_name[0:3]  # index 3 is excluded

'hel'

## Use the built-in function len to find the length of a string

In [37]:
len(atom_name)  # `len` is a built-in function, there is no need to import it

6

## Use meaningful variable names

Use meaningful variable names to help other people understand what the program does.

Poor variable name:

In [38]:
ehfksdjrthlkjze = 42
print(f"My age is {ehfksdjrthlkjze}.")

My age is 42.

Meaningful variable name:

In [39]:
age = 42
print(f"My age is {age}.")

My age is 42.

<mark>[NEW]</mark> <mark>Always use the English natural language for your variable names! Same goes for your comments, etc</mark>

<mark>[NEW]</mark> Moreover, especially for those with a mathematical background, do not use mathematical variables as Python variable names:

Poor variable names:
```python
y = m1 * x1 + m2 * (x2 ** 2)
```

Meaningful variables names:
```python
house_price = price_per_room * rooms + price_per_floor_squared * (floors ** 2)
```

*Further reading*: [Data Scientists, Your Variable Names Are a Mess. Clean Up Your Code.](https://builtin.com/data-science/variable-names)

*Exercise*: swapping values

In [40]:
a = 1
b = 10
print(f"{a = }")
print(f"{b = }")

a = 1
b = 10

In [41]:
# TODO
swap = a
a = b 
b = swap
print(f"{a = }")
print(f"{b = }")

a = 10
b = 1

<mark>[NEW]</mark> Using tuples:

In [42]:
a = 1
b = 10
print(f"{a = }")
print(f"{b = }")

print("Swapping:")
b, a = a, b
print(f"{a = }")
print(f"{b = }")

a = 1
b = 10
Swapping:
a = 10
b = 1

*Exercise*: What is the final value of `position` in the program below?

In [43]:
initial = 'left'
position = initial
initial = 'right'
print(position)

left

*Exercise*: Which is a better variable name, `m`, `min`, or `minutes`?

```python
ts = 60 * m + s
tot_sec = 60 * min + sec
total_seconds = 60 * minutes + seconds
```

<mark>[NEW]</mark> *Note*: Nowadays, thanks to auto-completion, it is ok to have (meaningful) variable names that are quite long because the user does not need to loose time writing the whole variable name:

In [44]:
total_seconds = 10

In [45]:
# Type the first letters of the variable name and press the `tab` key for auto-completion:
total_seconds

10

<mark>[NEW]</mark> `min` is actually an existing built-in function in Python:

In [46]:
min([0, 1, 3, -1])

-1

But we can still use it as a variable name:

In [47]:
min = 11
print(min)

11

but the `min` function will no longer work:

In [48]:
min([0, 1, 3, -1])

TypeError: 'int' object is not callable

Let us delete the `min` variable to be able to use the `min` function again:

In [49]:
del min
print(min([0, 1, 3, -1]))

-1

## <mark>[NEW]</mark> Some PEP8 recommendations to make your code user-readable

Some key points:
- never write a line that is longer than 80 characters
- put spaces around equal (except in a function call)
- put spaces after commas
- put spaces around binary operators

Resource: [How to Write Beautiful Python Code With PEP 8](https://realpython.com/python-pep8/).

You can also use autoformatters, especially for Python scripts on Visual Studio Code.

These conventions help the readability of your code, these rules exist for a reason.

Some examples:
```python
a=1+2/3+6*norm(X)/std(X,axis=1)  # not recommended
a = 1 + 2/3 + 6 * norm(X) / std(X, axis=1)  # recommended

print(np.arange(2,15,3))  # not recommended
print(np.arange(2, 15, 3))  # recommended

np.dot(np.arange(5),np.ones(5))  # not recommended
np.dot(np.arange(5), np.ones(5))  # recommended

np.random.uniform(-1,1,size = (5,6))  # not recommended
np.random.uniform(-1, 1, size=(5, 6))  # recommended

np.allclose(x,0.1)  # not recommended
np.allclose(x, 0.1)  # recommended

[i**2 for i in range(1,12)]  # not recommended
[i**2 for i in range(1, 12)]  # recommended

np.dot(x,y)  # not recommended
np.dot(x, y)  # recommended

# not recommended:
my_total_variables_seconds_that_i_computed = my_total_variables_seconds_that_i_computed + my_total_variables_sum_that_i_computed / my_total_variables_division_that_i_computed 
```

For variables names: use a lowercase single letter, word, or words. Separate words with underscores to improve readability. However, some variables can be upper case if they correspond to a matrix:
```python
X_train  # matrix
y_train  # vector
model.fit(X_train, y_train)
```

# Data Types and Type Conversion

## Every value has a type

- Every value in a program has a specific type.
- Integer (`int`): represents positive or negative whole numbers like 3 or -512.
- Floating point number (`float`): represents real numbers like 3.14159 or -2.5.
- Character string (usually called "string", `str`): text.
    - Written in either single quotes or double quotes (as long as they match).
    - The quote marks arenâ€™t printed when the string is displayed.

## Use the built-in function `type` to find the type of a value

In [50]:
age = 42
type(age)

int

In [51]:
height = 1.72
type(height)

float

<mark>[NEW]</mark> For French people, note that floats in Python use a dot and not a comma:

In [52]:
height = 1,72
print(f"{height = }")
print(f"{type(height) = }")

height = (1, 72)
type(height) = <class 'tuple'>

<mark>[NEW]</mark> Convert an integer to a float:

In [53]:
my_float = 1
print(f"The type of {my_float} is {type(my_float)}.")

my_float = float(1)
print(f"The type of {my_float} is {type(my_float)}.")

my_float = 1.0
print(f"The type of {my_float} is {type(my_float)}.")

my_float = 1.  # this is the most pythonic way
print(f"The type of {my_float} is {type(my_float)}.")

The type of 1 is <class 'int'>.
The type of 1.0 is <class 'float'>.
The type of 1.0 is <class 'float'>.
The type of 1.0 is <class 'float'>.

In [54]:
name = "Mathurin"
print(f"The type of {name} is {type(name)}.")

The type of Mathurin is <class 'str'>.

## Types control what operations (or methods) can be performed on a given value

In [55]:
age

42

In [56]:
print(age + 1)  # addition
print(age - 1)  # subtraction
print(age * 2)  # multiplication
print(age ** 2)  # exponentiation

43
41
84
1764

<mark>[NEW]</mark> A trick:

In [57]:
print(age)
age += 1  # equivalent to `age = age+1`
print(age)
age -= 1  # equivalent to `age = age-1`
print(age)
age *= 2  # equivalent to `age = age*2`
print(age)
age /= 2  # equivalent to `age = age/2`
print(age)

42
43
42
84
42.0

In [58]:
"hello" - "h"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

## <mark>[NEW]</mark> Booleans

In [59]:
t, f = True, False
print(type(t))

<class 'bool'>

Operations:

In [60]:
print(t and f)
print(t or f)
print(not t)
print(t == f)
print(t != f)

False
True
False
False
True

## You can use the `+` and `*` operators on strings

In [61]:
name

'Mathurin'

In [62]:
name + name  # string concatenation

'MathurinMathurin'

In [63]:
name + " " + name

'Mathurin Mathurin'

In [64]:
name * 3

'MathurinMathurinMathurin'

## Strings have a length (but numbers don't)

In [65]:
len(name)

8

In [66]:
len(age)

TypeError: object of type 'float' has no len()

## Must convert numbers to strings or vice versa when operating on them

In [67]:
print(1 + '2')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [68]:
1 + int('2')

3

In [69]:
str(1) + '2'

'12'

## Can mix integers and floats freely in operations

In [70]:
1 + 1.5

2.5

In [71]:
1 + 1

2

In [72]:
1 + 1.0

2.0

## Division Types

In Python 3, the `//` operator performs integer (whole-number) floor division, the `/` operator performs floating-point division, and the `%` (or modulo) operator calculates and returns the remainder from integer division:

In [73]:
5 // 3

1

In [74]:
5 / 3

1.6666666666666667

In [75]:
5 % 3

2

## Strings to Numbers

Where reasonable, `float()` will convert a string to a floating point number, and `int()` will convert a floating point number to an integer:

In [76]:
float("3.6")

3.6

In [77]:
int(3.6)

3

In [78]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

<mark>[NEW]</mark> Beware that `int` does not convert to the nearest integer:

In [79]:
int(3.6)

3

In [80]:
round(3.6)

4

# Built-in Functions and Help

## Use comments to add documentation to programs

In [81]:
# This sentence isn't executed by Python.
adjustment = 0.5   # Neither is this - anything after '#' is ignored.

## A function may take zero or more arguments

An argument is a value passed into a function.

In [82]:
print('before')
print()
print('after')

before

after

## Every function returns something

- Every function call produces some result.
- If the function doesnâ€™t have a useful result to `return`, it usually returns the special value `None`. `None` is a Python object that stands in anytime there is no value.

In [83]:
def foo():
    print("Hello")

In [84]:
a = print("Mathurin")
print(a)

Mathurin
None

## Commonly-used built-in functions include `max`, `min`, and `round`

In [85]:
max(1, 10)

10

In [86]:
min(1, 10)

1

In [87]:
min('a', 'b')

'a'

## Functions may only work for certain (combinations of) arguments

In [88]:
max('1', 10)

TypeError: '>' not supported between instances of 'int' and 'str'

## Functions may have default values for some arguments

In [89]:
round(3.141592)

3

In [90]:
round(3.6)

4

In [91]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [92]:
round(3.141592, 2)

3.14

### <mark>[NEW]</mark> Positional and keyword arguments

In [93]:
round()

TypeError: round() missing required argument 'number' (pos 1)

When using positional arguments, the order of arguments is important:

In [94]:
round(3.141592, 3)

3.142

In [95]:
round(3, 3.141592)

TypeError: 'float' object cannot be interpreted as an integer

When using keyword arguments, the order of arguments is not important:

In [96]:
round(number=3.141, ndigits=3)

3.141

In [97]:
round(ndigits=3, number=3.141)

3.141

Positional arguments can not follow keyword arguments:

In [98]:
round(3.141592, ndigits=3)

3.142

In [99]:
round(number=3.141, 3)

SyntaxError: positional argument follows keyword argument (2504285018.py, line 1)

## Functions attached to objects are called methods

- Functions take another form that will be common in the pandas episodes.
- Methods have parentheses like functions, but come after the variable. <mark>[NEW] On the contrary, variables do not have parenthesis.</mark>
- Some methods are used for internal Python operations, and are marked with double underlines.

In [100]:
my_string = 'Hello world!'

In [101]:
print(len(my_string))       # the len function takes a string as an argument and returns the length of the string

print(my_string.swapcase()) # calling the swapcase method on the my_string object

print(my_string.__len__())  # calling the internal __len__ method on the my_string object, used by len(my_string)

12
hELLO WORLD!
12

<mark>[NEW]</mark> Remember that the `len(my_string)` and `my_string.__len__()` syntaxes are equivalent (not just for this specific example).

You might even see methods chained together. They operate left to right:

In [102]:
print(my_string.isupper())          # Not all the letters are uppercase
print(my_string.upper())            # This capitalizes all the letters

print(my_string.upper().isupper())  # Now all the letters are uppercase

False
HELLO WORLD!
True

## Use the built-in function help to get help for a function

In [103]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

<mark>[NEW]</mark> Note that this is a great way to read the documentation when you do not have access to internet.

## The Jupyter Notebook has two ways to get help.

- Option 1: Place the cursor near where the function is invoked in a cell (i.e., the function name or its parameters),
    - Hold down <kbd>Shift</kbd>, and press <kbd>Tab</kbd>.
    - Do this several times to expand the information returned.
- Option 2: Type the function name in a cell with a question mark after it. Then run the cell.

In [104]:
round?

Signature: round(number, ndigits=None)
Docstring:
Round a number to a given precision in decimal digits.

The return value is an integer if ndigits is omitted or None.  Otherwise
the return value has the same type as the number.  ndigits may be negative.
Type:      builtin_function_or_method

## <mark>[NEW]</mark> Defining a function

### A function is callable

In [105]:
def my_function():
    print("Hello")

In [106]:
my_function()

Hello

A function must be called (with parenthesis):

In [107]:
my_function

A variable is not callable:

In [108]:
my_string = 'Hello world!'

In [109]:
my_string()

TypeError: 'str' object is not callable

<mark>Built-in functions such as <code>print</code> are displayed in green but not the others:</mark>

In [110]:
print()

In [111]:
my_function()

Hello

### Defining a function without or with a `return`

Without a `return`:

In [112]:
def double_age(age):
    print("Double age is", 2 * age)

In [113]:
output = double_age(5)
print(f"{output = }")

Double age is 10
output = None

With a `return:`

In [114]:
def compute_double_age(age):
    return age * 2

In [115]:
output = compute_double_age(100)
print(f"{output = }")

output = 200

### Using `docstrings` for documentation

In [116]:
help(compute_double_age)

Help on function compute_double_age in module __main__:

compute_double_age(age)

In [117]:
def compute_double_age_v2(age):
    """
    Double the age.
    """
    return age * 2

In [118]:
help(compute_double_age_v2)

Help on function compute_double_age_v2 in module __main__:

compute_double_age_v2(age)
    Double the age.

Specifying the types of the arguments and the outputs (but it is just information for the user, it is not a unit test):

In [119]:
def compute_double_age_v3(age: int) -> int:
    """
    Double the age.
    
    Parameters
    ----------
    age : int
    """
    return age * 2

In [120]:
compute_double_age_v3(10)

20

In [121]:
compute_double_age_v3(10.1)

20.2

### Defining default value for the arguments

In [122]:
def compute_double_age_v4(age: int = 10) -> int:
    """
    Double the age.
    
    Parameters
    ----------
    age : int, default=10
    
    Returns
    -------
    doubled_age : int
    """
    doubled_age = age * 2
    return doubled_age

In [123]:
compute_double_age_v4()

20

In [124]:
compute_double_age_v4(11)

22

### Raise an error

In [125]:
def compute_double_age_v5(age: int = 10) -> int:
    """
    Double the age.
    
    Parameters
    ----------
    age : int, default=10
    
    Returns
    -------
    doubled_age : int
    """
    if type(age) != int:
        raise TypeError('`age` must be an integer!')
    if age < 0:
        raise ValueError('`age` must be positive!')
    doubled_age = age * 2
    return doubled_age

In [126]:
compute_double_age_v5(10.1)

TypeError: `age` must be an integer!

In [127]:
compute_double_age_v5(-2)

ValueError: `age` must be positive!

<mark>For all your projects, if you have long error messages just skip to the last line (then go above if needed).</mark>

Or using an asssertion:

In [128]:
def compute_double_age_v6(age: int = 10) -> int:
    """
    Double the age.
    
    Parameters
    ----------
    age : int, default=10
    
    Returns
    -------
    doubled_age : int
    """
    cond = type(age) == int and age >= 0
    err_msg = "`age` must be a positive integer!"
    assert cond, err_msg
    
    doubled_age = age * 2
    
    return doubled_age

In [129]:
compute_double_age_v6(10.1)

AssertionError: `age` must be a positive integer!

In [130]:
help(compute_double_age_v6)

Help on function compute_double_age_v6 in module __main__:

compute_double_age_v6(age: int = 10) -> int
    Double the age.

    Parameters
    ----------
    age : int, default=10

    Returns
    -------
    doubled_age : int

# Libraries

## Most of the power of a programming language is in its libraries

- A library is a collection of files (called modules) that contains functions for use by other programs.
    - May also contain data values (e.g., numerical constants) and other things.
    - Libraryâ€™s contents are supposed to be related, but thereâ€™s no way to enforce that.
- The Python [standard library](https://docs.python.org/3/library/) is an extensive suite of modules that comes with Python itself.
- Many additional libraries are available from [PyPI](https://pypi.python.org/pypi/) (the Python Package Index).

Libraries are also called packages.

## A program must import a library module before using it

- Use `import` to load a library module into a program's memory.
- Then refer to things from the module as `module_name.thing_name`.
    - Python uses `.` to mean "part of".

`math` is a "built-in" library: it comes already installed with Python, contrary to `sklearn` for example.

In [131]:
import math  # imports the `math` library

In [132]:
math

In [133]:
print("pi is roughly", math.pi)

pi is roughly 3.141592653589793

When importing the whole module, its function must be called with the name of the module:

In [134]:
math.cos(math.pi)

-1.0

which can lead to long lines of code that are not easily readable:

In [135]:
math.cos(1) + math.cos(2) + math.cos(3)

-0.865837027279448

An alternative is to import a specific variable from a module:

## Import specific items from a library module to shorten programs

In [136]:
from math import cos

In [137]:
cos?

Signature: cos(x, /)
Docstring: Return the cosine of x (measured in radians).
Type:      builtin_function_or_method

In [138]:
cos(1) + cos(2) + cos(3)

-0.865837027279448

Should we use `math.cos` or `cos`?

`math.cos` is very explicit (we know it is from the `math` package) but long.
We do not know who defined `cos` but it is short.

Reminder: write all the imports in a cell at the beginning of all your notebooks to make clear where each function is imported from (_even if it is not done in this notebook for pedagogical purposes_).

## <mark>[NEW]</mark> Installing a library

For now, we use `pip` but we would recommend you using `conda` (after a few days of using Python). Recommended resource: [Installing packages using pip and virtual environments](https://packaging.python.org/en/latest/guides/installing-using-pip-and-virtual-environments/).

Install a library (for example `numpy`):

In [139]:
!pip install numpy

Requirement already satisfied: numpy in /Users/swc/opt/anaconda3/envs/sax/lib/python3.10/site-packages (1.23.3)

Recommended:

In [140]:
!python3 -m pip install numpy

Requirement already satisfied: numpy in /Users/swc/opt/anaconda3/envs/sax/lib/python3.10/site-packages (1.23.3)

Note that `pip install` prefers to leave the installed version as-is unless `--upgrade` is specified.

Show some information about the package (especially its version):

In [141]:
!pip show numpy

Name: numpy
Version: 1.23.3
Summary: NumPy is the fundamental package for array computing with Python.
Home-page: https://www.numpy.org
Author: Travis E. Oliphant et al.
Author-email:
License: BSD
Location: /Users/swc/opt/anaconda3/envs/sax/lib/python3.10/site-packages
Requires:
Required-by: bokeh, Bottleneck, contourpy, h5py, loadmydata, matplotlib, mkl-fft, mkl-random, numba, numexpr, pandas, patsy, ruptures, scikit-learn, scipy, seaborn, sktime, statsmodels, tslearn

## <mark>[NEW]</mark> Import packages using aliases

In [142]:
import math as m 
m.cos(m.pi)

-1.0

In [143]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [144]:
plt?

Type:        module
String form: <module 'matplotlib.pyplot' from '/Users/swc/opt/anaconda3/envs/sax/lib/python3.10/site-packages/matplotlib/pyplot.py'>
File:        ~/opt/anaconda3/envs/sax/lib/python3.10/site-packages/matplotlib/pyplot.py
Docstring:
`matplotlib.pyplot` is a state-based interface to matplotlib. It provides
an implicit,  MATLAB-like, way of plotting.  It also opens figures on your
screen, and acts as the figure GUI manager.

pyplot is mainly intended for interactive plots and simple cases of
programmatic plot generation::

    import numpy as np
    import matplotlib.pyplot as plt

    x = np.arange(0, 5, 0.1)
    y = np.sin(x)
    plt.plot(x, y)

The explicit object-oriented API is recommended for complex plots, though
pyplot is still usually used to create the figure and often the axes in the
figure. See `.pyplot.figure`, `.pyplot.subplots`, and
`.pyplot.subplot_mosaic` to create figures, and
:doc:`Axes API </api/axes_api>` for the plotting methods on an Axes::

    import numpy as np
    import matplotlib.pyplot as plt

    x = np.arange(0, 5, 0.1)
    y = np.sin(x)
    fig, ax = plt.subplots()
    ax.plot(x, y)


See :ref:`api_interfaces` for an explanation of the tradeoffs between the
implicit and explicit interfaces.

## <mark>[NEW]</mark> Importing everything from a module (not recommended)

In [145]:
dir()  # The `dir()` function returns all properties and methods that exist in this notebook session without the values.

['AGE',
 'Age',
 'In',
 'Out',
 '_',
 '_1',
 '_107',
 '_11',
 '_120',
 '_121',
 '_123',
 '_124',
 '_13',
 '_132',
 '_134',
 '_135',
 '_138',
 '_14',
 '_142',
 '_16',
 '_36',
 '_37',
 '_45',
 '_46',
 '_50',
 '_51',
 '_55',
 '_61',
 '_62',
 '_63',
 '_64',
 '_65',
 '_68',
 '_69',
 '_7',
 '_70',
 '_71',
 '_72',
 '_73',
 '_74',
 '_75',
 '_76',
 '_77',
 '_79',
 '_8',
 '_80',
 '_85',
 '_86',
 '_87',
 '_89',
 '_90',
 '_92',
 '_94',
 '_96',
 '_97',
 '_98',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_exit_code',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i103',
 '_i104',
 '_i105',
 '_i106',
 '_i107',
 '_i108',
 '_i109',
 '_i11',
 '_i110',
 '_i111',
 '_i112',
 '_i113',
 '_i114',
 '_i115',
 '_i116',
 '_i117',
 '_i118',
 '_i119',
 '_i12',
 '_i120',
 '_i121',
 '_i122',
 '_i123',
 '_i124',
 '_i125',
 '_i126',
 '_i127',
 '_i128',
 '_i129',
 '_i13',
 '_i130',
 '_i131',
 '_i132',
 '_i133',
 '_i134',
 '_i135',
 '_i136',
 '_i137',
 '_i138',
 '_i139',
 '_i14',
 '_i140',
 '_i141',
 '_i142',
 '_i143',
 '_i144',
 '_i145',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'adjustment',
 'age',
 'age_1',
 'atom_name',
 'b',
 'compute_double_age',
 'compute_double_age_v2',
 'compute_double_age_v3',
 'compute_double_age_v4',
 'compute_double_age_v5',
 'compute_double_age_v6',
 'cos',
 'double_age',
 'ehfksdjrthlkjze',
 'example',
 'exit',
 'f',
 'foo',
 'get_ipython',
 'height',
 'initial',
 'm',
 'math',
 'my_float',
 'my_function',
 'my_string',
 'name',
 'new_age',
 'np',
 'output',
 'pd',
 'plt',
 'position',
 'pp',
 'quit',
 'result_addition',
 'result_multplication',
 'swap',
 'sys',
 't',
 'total_seconds']

In [146]:
len(dir())  # returns 261 in my execution

261

In [147]:
from numpy.linalg import *  # imports everything from the `numpy.linalg` module

In [148]:
len(dir())  # returns 285 in my execution

285

When using `from math import sqrt`, you must specify the module:

In [149]:
sqrt

NameError: name 'sqrt' is not defined

In [150]:
math.sqrt

Let us import everything from `math`:

In [151]:
from math import *

Then, there is no need to use aliases:

In [152]:
sqrt

However, what happens when a same function name exists accross several libraries?

In [153]:
sum?

Signature: sum(iterable, /, start=0)
Docstring:
Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.
Type:      builtin_function_or_method

In [154]:
M = [[0, 1], [0, 5]]
print(f"{M = }")
print(f"{type(M) = }")
print(sum(M))

M = [[0, 1], [0, 5]]
type(M) = <class 'list'>

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [155]:
from numpy import *

In [156]:
sum?

Signature:
sum(
    a,
    axis=None,
    dtype=None,
    out=None,
    keepdims=<no value>,
    initial=<no value>,
    where=<no value>,
)
Docstring:
Sum of array elements over a given axis.

Parameters
----------
a : array_like
    Elements to sum.
axis : None or int or tuple of ints, optional
    Axis or axes along which a sum is performed.  The default,
    axis=None, will sum all of the elements of the input array.  If
    axis is negative it counts from the last to the first axis.

    .. versionadded:: 1.7.0

    If axis is a tuple of ints, a sum is performed on all of the axes
    specified in the tuple instead of a single axis or all the axes as
    before.
dtype : dtype, optional
    The type of the returned array and of the accumulator in which the
    elements are summed.  The dtype of `a` is used by default unless `a`
    has an integer dtype of less precision than the default platform
    integer.  In that case, if `a` is signed then the platform integer
    is used while if `a` is unsigned then an unsigned integer of the
    same precision as the platform integer is used.
out : ndarray, optional
    Alternative output array in which to place the result. It must have
    the same shape as the expected output, but the type of the output
    values will be cast if necessary.
keepdims : bool, optional
    If this is set to True, the axes which are reduced are left
    in the result as dimensions with size one. With this option,
    the result will broadcast correctly against the input array.

    If the default value is passed, then `keepdims` will not be
    passed through to the `sum` method of sub-classes of
    `ndarray`, however any non-default value will be.  If the
    sub-class' method does not implement `keepdims` any
    exceptions will be raised.
initial : scalar, optional
    Starting value for the sum. See `~numpy.ufunc.reduce` for details.

    .. versionadded:: 1.15.0

where : array_like of bool, optional
    Elements to include in the sum. See `~numpy.ufunc.reduce` for details.

    .. versionadded:: 1.17.0

Returns
-------
sum_along_axis : ndarray
    An array with the same shape as `a`, with the specified
    axis removed.   If `a` is a 0-d array, or if `axis` is None, a scalar
    is returned.  If an output array is specified, a reference to
    `out` is returned.

See Also
--------
ndarray.sum : Equivalent method.

add.reduce : Equivalent functionality of `add`.

cumsum : Cumulative sum of array elements.

trapz : Integration of array values using the composite trapezoidal rule.

mean, average

Notes
-----
Arithmetic is modular when using integer types, and no error is
raised on overflow.

The sum of an empty array is the neutral element 0:

>>> np.sum([])
0.0

For floating point numbers the numerical precision of sum (and
``np.add.reduce``) is in general limited by directly adding each number
individually to the result causing rounding errors in every step.
However, often numpy will use a  numerically better approach (partial
pairwise summation) leading to improved precision in many use-cases.
This improved precision is always provided when no ``axis`` is given.
When ``axis`` is given, it will depend on which axis is summed.
Technically, to provide the best speed possible, the improved precision
is only used when the summation is along the fast axis in memory.
Note that the exact precision may vary depending on other parameters.
In contrast to NumPy, Python's ``math.fsum`` function uses a slower but
more precise approach to summation.
Especially when summing a large number of lower precision floating point
numbers, such as ``float32``, numerical errors can become significant.
In such cases it can be advisable to use `dtype="float64"` to use a higher
precision for the output.

Examples
--------
>>> np.sum([0.5, 1.5])
2.0
>>> np.sum([0.5, 0.7, 0.2, 1.5], dtype=np.int32)
1
>>> np.sum([[0, 1], [0, 5]])
6
>>> np.sum([[0, 1], [0, 5]], axis=0)
array([0, 6])
>>> np.sum([[0, 1], [0, 5]], axis=1)
array([1, 5])
>>> np.sum([[0, 1], [np.nan, 5]], where=[False, True], axis=1)
array([1., 5.])

If the accumulator is too small, overflow occurs:

>>> np.ones(128, dtype=np.int8).sum(dtype=np.int8)
-128

You can also start the sum with a value other than zero:

>>> np.sum([10], initial=5)
15
File:      ~/opt/anaconda3/envs/sax/lib/python3.10/site-packages/numpy/core/fromnumeric.py
Type:      function

In [157]:
sum(M)

6

`sum` now works on array objects.

The last function to be imported is overshadowing the first.

Hence, in order to not get confused, it is not recommended to import everything from a module.